.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  overflow: hidden;
  transition: all 0.4s;
  background-color: black;
  opacity: 1;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.noOverlay {
  /*Copied Code From Above Cause I don't know how to extends classes*/
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  overflow: hidden;
  transition: all 0.25s;
  background-color: black;
  /*it ends here*/
  opacity: 0;
  pointer-events: none;
}
